* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

header {
    padding: 5vw;
    background-color: rgb(8, 8, 8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header ul {
    list-style: none;
    display: flex;
    text-align: center;
    gap: 2vw;
}

header a {
    color: white;
}

#secao {
    padding: 5vw;
    background-color: aliceblue;
    text-align: center;
}

#secao h2 {
    text-align: center;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 2vw 0vw;
}

#secao p {
    text-align: justify;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0vw 5vw 1vw 5vw;
}

#bao {
    padding: 1vw;
    font-size: 30px;
    border-radius: 20px;
    border: solid rgba(0, 0, 0, 0.568);
    background-color: rgba(127, 255, 212, 0.637);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 2vw 0vw 4vw 0vw;
}

#bao:hover {
    background-color: rgba(10, 56, 41, 0.637);
    color: white;
    border: solid rgba(0, 0, 0, 0.527);
    box-shadow: 4px 5px 1px rgba(0, 0, 0, 0.671);
    transition: 0.7s
}

#roupas {
    display: flex;
    justify-content: center;
    gap: 7vw;
}

#roupas div {
    width: 200px;
}

#roupas div img {
    width: 100%;
    border-radius: 20px;
    box-shadow: 4px 5px 1px rgba(0, 0, 0, 0.671);
}

#button {
    margin-top: 10vw;
    display: flex;
    justify-content: space-evenly;
}

#button button {
    padding: 1vw;
    font-size: 30px;
    border-radius: 20px;
    border: solid rgba(0, 0, 0, 0.568);
    background-color: rgba(127, 255, 212, 0.637);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 2vw 0vw 4vw 0vw;
}

#button button:hover {
    background-color: rgba(10, 56, 41, 0.637);
    color: white;
    border: solid rgba(0, 0, 0, 0.527);
    box-shadow: 4px 5px 1px rgba(0, 0, 0, 0.671);
    transition: 0.7s
}

#button input {
    padding: 1vw;
    font-size: 30px;
    border-radius: 20px;
    border: solid rgba(0, 0, 0, 0.568);
    background-color: rgba(127, 255, 212, 0.637);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 2vw 0vw 4vw 0vw;
}